.page-heading {
    color: #e74c3c;
    text-align: center;
    font-size: 40px;
    padding: 0 0 100px 0;
}

.left-content {
    float: left;
    width: 50%;
    margin-right: 50px;
    font-size: 25px;
    line-height: 40px;
    overflow: auto;
    text-align: center;
    color: #d35400;
}

.right-content {
    float: left;
    width: 45%;
    font-size: 25px;
    line-height: 40px;
    overflow: auto;
    text-align: center;
    color: #d35400;
}

.beer-image {
    width: 100%;
    height: auto;
    text-align: center;
}

.header-text {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    color: #7f8c8d;
}

.social {
    clear: both;
    padding-top: 30px;
}

@media screen and (max-width:1000px) {
    .left-content {
        margin: 0;
        width: 100%;
    }

    .right-content {
        width: 100%;
    }

    .beer-image {
        width: 100%;
        height: auto;
    }

    .page-heading {
        padding-left: 0;
        padding-right: 0;
    }
}