<html>
  <head>
    <title>Marc Roopchand</title>
    <link rel="stylesheet" href="../css/common-styles.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/beer.css" media="screen" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  </head>
  <body>
    <header>
      <div class="header-name"><a href="../index.html">Marc Roopchand</a></div>
      <div class="nav-links"><a href="game.html">Games</a></div>
      <div class="nav-links"><a href="beer.html">Beer</a></div>
      <div class="nav-links"><a href="resume.html">Resume</a></div>
    </header>
    <div class="separation"></div>
    <article class="page-heading">
      <img class="beer-image" src="../images/beer.jpg" alt="" width="500px" height="300px"/>
      <div class="header-text">I enjoy trying new beers, below is a list of all that I have tried so far!</div>
    </article>
    <article class="left-content">
      Alexander Keiths India Pale Ale <br/>
      Alexander Keiths Premium White <br/>
      Amstel Light <br/>
      Becks <br/>
      Blanche d Chambly <br/>
      Blue <br/>
      Blue Lime <br/>
      Boddingtons Pub Ale <br/>
      Brava <br/>
      Brew free or die IPA <br/>
      Bud Light <br/>
      Bud Light Lime <br/>
      Budweiser <br/>
      Buzz Beer <br/>
      Carib <br/>
      Carib Pilsner <br/>
      Carlsberg <br/>
      Cheetah <br/>
      Christoffel Nobel <br/>
      Coors Light <br/>
      Corona <br/>
      Creemore Lager <br/>
      Dos Equis <br/>
      Dos Equis amber <br/>
      Erdinger <br/>
      Grolsch <br/>
      Guinness <br/>
      Harp <br/>
      Haywire <br/>
      Heidelberg Lager <br/>
      Heineken <br/>
      Hoegaarden <br/>
      Hofbrau delicator <br/>
      Humboldt brown <br/>
      Innis & gunn oak aged ale <br/>
      Kilkenny Cream Ale <br/>
      Kingfisher <br/>
      Kirin ichiban <br/>
      Kiwi Lager <br/>
      Kokanee <br/>
      Kronenbourg 1664 Blanc <br/>
      Kostritzer black lager <br/>
      Leinenliugels summer shandy <br/>
      Maclays <br/>
      Mill Street Organic Lager <br/>
      Mill Street Tankhouse Ale <br/>
      Miller Chill Lime <br/>
      Miller Genuine Draft <br/>
      Miller High Life <br/>
      Miller Light <br/>
    </article>
    <article class="right-content">
      Molsen Canadian <br/>
      Moosehead <br/>
      Newcastle beer <br/>
      Octoberfest Lager <br/>
      Okanagan Spring Pale Ale <br/>
      Palm Beer <br/>
      PC Cerveza <br/>
      Premium ciuc <br/>
      Red Baron <br/>
      Red Baron Lime <br/>
      Red Stripe <br/>
      Rickards India Pale Ale <br/>
      Rickards Red <br/>
      Rickars White <br/>
      Rolling Rock <br/>
      Samuel Adams <br/>
      Sapporo <br/>
      Schneider Weisse <br/>
      Shiner bock <br/>
      Shock top <br/>
      Sierra Nevada <br/>
      Sleeman Honey Brown Lager <br/>
      Sleeman LIght <br/>
      Sleeman Original Draught <br/>
      Sol <br/>
      St-Ambroise Apricot Wheat Ale <br/>
      Stag <br/>
      Steam Whistle <br/>
      Stella Artios <br/>
      Stiegl lager <br/>
      Stone Hammer Pilsner <br/>
      Taj mahal <br/>
      Tennents Lager <br/>
      Tiger Beer <br/>
      Triple karmeliet <br/>
      Tuborg Pilsner <br/>
      Waupoos Cider <br/>
      Warsteiner Gold Lager <br/>
      Warsteiner Dark <br/>
      Waterloo Dark <br/>
      Waterloo Wheat <br/>
      Weihenstephaner <br/>
      Weihenstephan vitus <br/>
      Wellington County Ale <br/>
      Widmer Hefeweisen <br/>
      Woolwich arrow Harvest Ale <br/>
      Woolwich Arrow House Draught <br/>
      Yanjing <br/>
      Yuengling <br/>
    </article>
    <section class="social">
      <a href="http://www.linkedin.com/in/marcroopchand" target="_blank">
        <img class="social-icon" src="../images/social-icon/linkedin.png" alt="" width="40px" height="40px"/>
      </a>
      <a href="https://www.facebook.com/marc.roopchand" target="_blank">
        <img class="social-icon" src="../images/social-icon/facebook.png" alt="" width="40px" height="40px"/>
      </a>
      <a href="https://twitter.com/MarcRoopchand" target="_blank">
        <img class="social-icon" src="../images/social-icon/twitter.png" alt="" width="40px" height="40px"/>
      </a>
    </section>
  </body>
</html>