<html>
  <head>
    <title>Marc Roopchand</title>
    <link rel="stylesheet" href="../css/common-styles.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/resume.css" media="screen" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  </head>
  <body>
    <header>
      <div class="header-name"><a href="../index.html">Marc Roopchand</a></div>
      <div class="nav-links"><a href="game.html">Games</a></div>
      <div class="nav-links"><a href="beer.html">Beer</a></div>
      <div class="nav-links"><a href="resume.html">Resume</a></div>
    </header>
    <div class="separation"></div>
    <article class="resume-heading">
      <img class="profile" src="../images/profile.jpg" alt="" width="175px" height="175px"/>
      <div class="name">Marc Roopchand</div>
      <div class="occupation">SOFTWARE ENGINEER</div>
    </article>
    <div class="separation"></div>
    <article class="container">
      <section class="left-content">Work Experience</section>
      <section class="right-content">
        <div class="experience">
          <div class="date">Sep - Dec 2013</div>
          <div class="title-name">Software Engineering Intern </div>
          <div class="title-location">GREE International, San Francisco, CA</div>
          <div class="work-content">
            <ul>
              <li>Worked on both the client and server of War of Nations</li>
              <li>Added new features and performed various bug fixes on the iOS client</li>
              <li>Implemented gameplay logic on the PHP server</li>
              <li>Optimized sections of the server core for efficiency</li>
              <li>Refactored the implementation of buildings in the game for efficiency</li>
              <li>Tools/Frameworks Used: PHP, Objective C, Xcode</li>
            </ul>
          </div>
        </div>
        <div class="experience">
          <div class="date">Jan - Apr 2013</div>
          <div class="title-name">Software Engineering Intern </div>
          <div class="title-location">Electronic Arts, Redwood City, CA</div>
          <div class="work-content">
            <ul>
              <li>Worked on both the iOS and Android version of Heroes of Dragon Age</li>
              <li>Created a number of scenes in the game based on mock-ups from artists</li>
              <li>Worked closely with Artists and Server Engineers to refine gameplay</li>
              <li>Implemented gameplay logic using C#</li>
              <li>Tools/Frameworks Used: Unity, C#</li>
            </ul>
          </div>
        </div>
        <div class="experience">
          <div class="date">May - Aug 2012</div>
          <div class="title-name">Software Engineering Intern </div>
          <div class="title-location">Reputation.com, Redwood City, CA</div>
          <div class="work-content">
            <ul>
              <li>Implemented the UI for the Administration Dashboards of the Enterprise product</li>
              <li>Customers used this to manage hundreds of their Locations and Users</li>
              <li>Integrated sharing content to the business Facebook page and Twitter feed</li>
              <li>Developed a Scheduling service for automatic sharing</li>
              <li>Tools/Frameworks Used: HTML, CSS, Javascript, PHP, Facebook SDK, Twitter API</li>
            </ul>
          </div>
        </div>
      </section>
    </article>
    <div class="separation"></div>
    <article class="container">
      <section class="left-content">Fourth Year Design Project</section>
      <section class="right-content">
        <div class="experience">
          <div class="date">Jan 2013  - Apr 2014</div>
          <div class="title-name">Semantic Biz Crawler</div>
          <div class="title-location">University of Waterloo (Team of 4)</div>
          <div class="work-content">
            <ul>
              <li>Working in collaboration with Yelp to create a generic website parser</li>
              <li>This returned structured, meaningful information about any business.</li>
              <li>Implemented a Naive Bayes Classifier using the NLTK library.</li>
              <li>Classifier extracted relevant business data such as hours of operation, location</li>
              <li>Tools/Frameworks used: HTML, CSS, Javascript, Python, Flask
              </li>
            </ul>
          </div>
        </div>
      </section>
    </article>
    <div class="separation"></div>
    <article class="container">
      <section class="left-content">Education</section>
      <section class="right-content">
        <div class="experience">
          <div class="date">Sep 2009 - Jun 2014</div>
          <div class="title-name">University of Waterloo</div>
          <div class="title-location">Bachelor of Software Engineering Honours</div>
          <div class="work-content">
            <ul>
              <li>Skeduler: Developed an Android application for course scheduling</li>
              <li>Mad Birds: Created a replica of Angry Birds using C++ and Xlib</li>
              <li>Straights: Built a GUI for the card game straights using C++, GTK</li>
              <li>Operating Systems: Incrementally developed an operating system on Keil MCB1700</li>
              <li>Lego Robot: Developed software in NQC to guide a Lego robot through a maze</li>
            </ul>
          </div>
        </div>
      </section>
    </article>
    <section class="social">
      <a href="http://www.linkedin.com/in/marcroopchand" target="_blank">
        <img class="social-icon" src="../images/social-icon/linkedin.png" alt="" width="40px" height="40px"/>
      </a>
      <a href="https://www.facebook.com/marc.roopchand" target="_blank">
        <img class="social-icon" src="../images/social-icon/facebook.png" alt="" width="40px" height="40px"/>
      </a>
      <a href="https://twitter.com/MarcRoopchand" target="_blank">
        <img class="social-icon" src="../images/social-icon/twitter.png" alt="" width="40px" height="40px"/>
      </a>
    </section>
  </body>
</html>